<% provide(:title, 'Add Activities to Trip') %>

<h1>Adding Activities to <%= @trip.title %></h1>

<div class="row">
<h4><strong>Select activities to build this trip:</strong></h4>

<%= form_for(@trip) do |f| %>
  
    
    <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

    <div class="col-md-8">
      <% if @user.activities.any? %>
        <% @user.activities.each do |a| %>
          <ol class="activities">
          <%= a.name %>

          <%= check_box_tag "activity_ids[]", a.id, false, :id => "activity_ids_#{a.id}" %>
          
          </ol>
        <% end %>
      <% end %>

      <div class="actions">
        <%= f.submit "add to trip", class: "btn btn-primary" %>
      </div>
    </div>

  
<% end %>




    
    

</div>
    

      
        


