<%= form_for :session, :url => login_path, :method => :post do |f| %>
	
	<div class="field">
		<%= f.label "Email address" %><br>
		<%= f.text_field :email %>
	</div>
	<div>
		<%= f.label "password" %><br>
		<%= f.text_field :password %>
	</div>

	<div class="actions">
		<br />
		<%= f.submit "Log in" %>
	</div>
<% end %>