<% provide(:title, "Log in") %>
<h1>Log in</h1>

<%# must indicate url and action since session is not a class %>
<%= form_for(:session, :url => login_path, :method => :post) do |f| %>
	
	<div class="field">
		<%= f.label :email %><br>
		<%= f.email_field :email, class: 'form-control' %>
	</div>
	<div>
		<%= f.label :password %><br>
		<%= f.password_field :password, class: 'form-control' %>
	</div>

	<div class="actions">
		<br />
		<%= f.submit "Log in", class: "btn btn-primary" %>
	</div>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>