<p id="notice"><%= notice %></p>

<% provide(:title, @user.user_name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>

      <p>
        <h1><strong>Hi, <%= @user.first_name %>!</strong></h1>
      </p>

    </section>
  </aside>
  <div class="container">

    <ul>
      <li><%= link_to 'Create an Activity', new_activity_path %></li>
      <li><%= link_to 'Create a Trip', new_trip_path %></li>
    </ul>




  </div>


<%= link_to 'Edit', edit_user_path(@user) %>

<div class="col-md-8">
    <% if @user.activities.any? %>
      <h3>activities (<%= @user.activities.count %>)</h3>
      <ol class="activities">
        <%= render @activities %>
      </ol>
    <% end %>
  </div>


  <div class="col-md-8">
    <% if @user.trips.any? %>
      <h3>trips (<%= @user.trips.count %>)</h3>
      <ol class="trips">
        <%= render @trips %>
      </ol>
    <% end %>
  </div>




  </div>
