<p id="notice"><%= notice %></p>

<% provide(:title, @user.user_name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>

      <p>
        <h1><strong>Hi, <%= @user.first_name %>!</strong></h1>
      </p>
      <p><%= link_to 'Edit', edit_user_path(@user) %></p>

    </section>
  </aside>


<div>
  <div class="col-md-12">

    <ul>
      <li><h3><b><%= link_to 'Create an Activity', new_activity_path %></b></h3></li>
      <li><h3><b><%= link_to 'Create a Trip', new_trip_path %></b></h3></li>
    </ul>


  </div>

  <div class="col-md-12">
    <% if @user.activities.any? %>
      <h3>activities (<%= @user.activities.count %>)</h3>
      <ol class="activities">
        <%= render @activities %>
      </ol>
    <% end %>
  </div>

    <div class="col-md-6">
      <% if @user.trips.any? %>
        <h3>trips (<%= @user.trips.count %>)</h3>

        <% @user.trips.each do |t| %>
          <ol class="trips">
          <%= link_to "[ #{Trip.find(t).title} ]", t %>

          <%= link_to 'add activities', addtrip_path(t) %>
          
          </ol>
        <% end %>
      <% end %>
    </div>
  


</div>




</div>
