<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4><strong>Name this Activity</strong></h4>
    <%= f.label :title %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <h4><strong>Where is this activity?</strong></h4>
    <%= f.label :address %><br>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country, class: 'form-control' %>
  </div>
  <div class="field">
    <h4><strong>Describe this adventure</strong></h4>
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="field">
    <h4><strong>When did you go?</strong></h4>
    <%= f.label :date %><br>
    <%= f.text_field :date, class: 'form-control' %>
  </div>
  <div class="field">
    <h4><strong>How would you rate it?</strong></h4>
    <%= f.label :rating %><br>
    <%= f.text_field :rating, class: 'form-control' %>
  </div>
  <div class="field">
    <h4><strong>How long did it take?</strong></h4>
    <%= f.label :days %>
    <%= f.text_field :days %>
    <%= f.label :hrs %>
    <%= f.text_field :hrs %>
  </div>
  <div class="field">
    <h4><strong>How much did it cost?</strong></h4>
    <%= f.label :cost %><br>
    <%= f.text_field :cost, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "create activity", class: "btn btn-primary" %>
  </div>
<% end %>
